.splide__slide{
    overflow:hidden;
}


.emu-splide-wrapper{
    width:100%;
    display: flex; gap: 20px;
    position: relative;
}

.emu-splide-wrapper :is(button), .emu-splide-wrapper :is(button):hover, .emu-splide-wrapper :is(button):focus{

    padding:0;
    background-color: white;
    border:none;

}

:root{
    --slider-height:500px
}

.splide__track--nav>.splide__list>.splide__slide{
    width:fit-content!important;
    overflow: hidden;
}

.splide__arrow{
    height: auto!important;
    width: 40px;
    aspect-ratio: 1!important;
    opacity: 1!important;
}
.splide__arrow svg{
    width: 20px;
    height: fit-content!important;
}
#emu-splide .splide__track{
    box-sizing: border-box!important;
    height:var(--slider-height);
}

#emu-splide-thumbs-list{
    gap:10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#emu-splide-thumbs {
    width: fit-content;
    min-height:var(--slider-height);
    max-height:var(--slider-height);
    flex-grow:0
}
#emu-splide-thumbs ul li, #emu-splide .splide__track{
    border-radius:10px;
    border:none
}

#emu-splide-thumbs .splide__slide img {
width: 100%;
}
#emu-splide-thumbs .splide__slide .image {
    width: 100px;
    height: 100px;
    transition: opacity.2s;
    opacity:0.4;
}

#emu-splide-thumbs .is-active .image {
    opacity:1
}


#emu-splide {
    width: 100px;
    flex-grow:1;
    min-height:var(--slider-height);
    max-height:var(--slider-height);

}

#emu-splide img{
    min-height:var(--slider-height);
    max-height:var(--slider-height);
}

#emu-splide-thumbs .splide__list{
    min-height:var(--slider-height);
    max-height:var(--slider-height);
}
#emu-splide .splide__slide{
    min-height:var(--slider-height);
    max-height:var(--slider-height);
}


.image {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
}

.image.youtube-thumb::after {
    content: "\25B6";
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    aspect-ratio: 1;
    color: white;
    font-size: 24px;
    padding: 0 0 0 5px;
    width:50px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: none; /* Importante: ::after não pode receber eventos diretamente */
}



lite-youtube, #emu-splide .splide__slide img{
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: 100% 100%;
    object-fit: cover
}

/* ===============  LITE YOUTUBE  ================= */


lite-youtube {
    background-color: #000;
    position: relative;
    display: block;
    contain: content;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    max-width: 100%;
    width:100%;
    transform: scale(1.012);
    transform-origin: center;
    will-change: transform;
    image-rendering: auto;
    backface-visibility: hidden;
}
/* gradient */
lite-youtube::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
    background-position: top;
    background-repeat: repeat-x;
    height: 100%;
    padding-bottom: 50px;
    width: 100%;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
    background-size: contain;
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
lite-youtube::after {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));
}
lite-youtube > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

/* play button */
lite-youtube > .lty-playbtn {
    width: 68px;
    height: 48px;
    position: absolute;
    cursor: pointer;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    z-index: 1;
    background-color: transparent;
    /* YT's actual play button svg */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 68 48"><path fill="%23f00" fill-opacity="0.8" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path d="M 45,24 27,14 27,34" fill="%23fff"></path></svg>');
    filter: grayscale(100%);
    transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
    border: none;
}

lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
    filter: none;
}

/* Post-click styles */
lite-youtube.lyt-activated {
    cursor: unset;
}
lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
    opacity: 0;
    pointer-events: none;
}

.lyt-visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }















.epg-lightbox-toogle{

    position: absolute;
    right: 10px;
    top:10px;
    width: 30px;
    cursor: pointer;
    z-index: 1;

}
.epg-lightbox-toogle svg{
    fill:white;
}
  
.epg-lightbox-arrows{
    pointer-events: none;
    position:absolute;
    top:50%;
    transform: translate(0, -50%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    width:1400px;
    max-width: 95%;
    margin: 0 auto 0 auto;
    z-index: 1;
}


.epg-lightbox-arrow svg{

    stroke:rgb(255, 255, 255);
    width:40px;
    height:40px;
}
.epg-lightbox-arrow{
    cursor: pointer;
    pointer-events: auto!important;
    display: flex
;
    justify-content: center;
    align-items: center;
}
.epg-lightbox-arrow.left svg{
    transform:scaleX(-1)
}











.epg-lightbox-content{
    position:relative;
    width:1100px;
    max-width: 95%;
    display: flex;
    aspect-ratio: 16/9;
    overflow: hidden;

}

.epg-lightbox-content lite-youtube{
    width:inherit!important;
    max-width: 100%;
    height: 100%!important;
    background-size: cover!important;
    position: absolute;
}
.epg-lightbox-content img{
    object-fit: cover;
    max-width: 100%;
    width:inherit;
    height: 100%;
    display: block!important;
    position: absolute;
}

.epg-lightbox *{
    user-select: none;
}
.epg-lightbox{
    position: fixed!important;
    min-height: 100vh;
    padding: 20px 0;
    width:100vw;
    max-width: 100%;
    left:0;
    top:0;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.53);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
